.Synonyms {
  margin: 8px 0 0 20px;
  padding: 0;
}
.Synonyms li {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  padding-right: 12px;
  line-height: 1.5;
  background-color: rgba(84, 212, 122, 0.4);
  border-radius: 8px;
  margin: 3px 7px 0 0;
  padding: 3px 8px;
}

/*SMALLER DEVICE ADJUSTMENTS*/
@media (max-width: 540px) {
  .Synonyms li {
    font-size: 11px;
  }
}
